%h4 Seller Sign Up!

= form_for @new_seller, url: sellers_path, method: :post do |u|
	E-mail address:
	= u.email_field :email
	Password:
	= u.password_field :password
	Password Confirmation:
	= u.password_field :password_confirmation
	= u.submit "Sign Up!" 