= form_for @new_item do |i|
	= i.label "Item"
	= i.text_field :name
	= i.label "Price"
	= i.number_field :price
	= i.hidden_field :status, value: "FOR SALE"
	= i.hidden_field :user_id, value: @current_user.id
	
	= i.fields_for :offer do |o|
		= o.hidden_field :item_id, value: @new_item.id
		= o.hidden_field :seller_id, value: @current_user.id

	= i.submit "Add Item"
